@inject IAddInventoryItemService AddInventoryItemService

@page "/addinventory"

<h1>Add Inventory</h1>

<div class="form-group">
    <input type="text"
           placeholder="Enter Inventory Item Name"
           class="form-control"
           @bind-value=name/>
    <input type="number"
           class="form-control"
           @bind-value="quantity"/>
    <input type="number"
           class="form-control"
           @bind-value="price"/>
    <input type="button"
           value="Save Item"
           class="btn btn-light"
           @onclick=@OnSave />
</div>

@code {
    private string name;
    private int quantity;
    private double price;

    public void OnSave()
    {
        var inventory = new Inventory
            {
                InventoryName = this.name,
                Quantity = this.quantity,
                Price = this.price,
            };
        AddInventoryItemService.ExecuteAsync(inventory);
    }
}
