@inject IAddInventoryItemService AddInventoryItemService
@inject NavigationManager NavigationManager

@page "/addinventory"

<h1>Add Inventory</h1>

<AddEditInventoryItem InventoryPopulated="@InventoryPopulated" operation="@operation">
</AddEditInventoryItem>

@code {
    public Inventory InventoryPopulated = new Inventory()
        {
            InventoryName = "",
            Quantity = 1,
            Price = 1
        };
    public string operation = "add";
}
