@page "/editinventory/{id:int}"

@inject IGetInventoryByIdService GetInventoryByIdService

<h3>Edit Inventory</h3>

<AddEditInventoryItem InventoryPopulated="@InventoryPopulated" 
                       operation="@operation" />

@code {
    [Parameter]
    public int id { get; set; }

    public string operation = "edit";
    public Inventory? InventoryPopulated { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        InventoryPopulated = (await GetInventoryByIdService.ExecuteAsync(id));
    }
}