@page "/editinventory/{id:int}"

@inject IGetInventoryByIdService GetInventoryByIdService

<h3>EditInventory</h3>

<AddEditInventoryItem InventoryPopulated="@InventoryPopulated" 
                      operation="@operation" />

@code {
    [Parameter]
    public int id { get; set; }

    public Inventory InventoryPopulated { get; set; } = new Inventory();

    protected override async Task OnParametersSetAsync()
    {
        InventoryPopulated = (await GetInventoryByIdService.ExecuteAsync(id));
    }

    public string operation = "edit";
}