@page "/inventories"

@inject NavigationManager NavigationManager

<h1>Inventory List</h1>
<br />

<SearchInventoryComponent 
    SearchEventCallback="SearchEventCallbackHandler">
</SearchInventoryComponent>

<InventoryListComponent SearchTerm="@SearchTerm">
</InventoryListComponent>

<button class="btn btn-primary"
        @onclick="AddInventory">Add Inventory</button>

@code {
    private string SearchTerm { get; set; } = String.Empty;

    private void SearchEventCallbackHandler(string searchTerm)
    {
        this.SearchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("addinventory");
    }
}
