@if (inventories.Count() > 0 && inventories != null)
{
    foreach (var inv in inventories)
    {
        <tr>
            <td>@inv.InventoryName</td>
            <td>@inv.Quantity</td>
            <td>@inv.Price</td>
        </tr>
    }
}




@code {
    [Parameter]
    public List<Inventory> inventories { get; set; } = new List<Inventory>();
}
