<div class="input-group">
    <input type="text" 
           class="input-group-text form-control" 
           placeholder="Begin your search"
           @bind-value=@SearchTerm />
    <input type="button" 
           class="btn btn-success"
           value="Search"
           @onclick=@OnSearch />
</div>

@code {
    private string SearchTerm { get; set; } = String.Empty;

    [Parameter]
    public EventCallback<string> SearchEventCallback { get; set; }

    private async void OnSearch()
    {
        await SearchEventCallback.InvokeAsync(this.SearchTerm);
    }

}
