@inject IViewInventoriesByNameService ViewInventoriesByNameService

<SearchInventoryComponent SearchEventCallback="SearchEventCallbackHandler" />

@if (_inventories.Count > 0)
{
    <div class="searchBox">
        <ul>
            @foreach (var inventory in _inventories)
            {
                <li @key=inventory.InventoryId
                    @onclick="@( async () => await OnSelectInventory(inventory) )">
                    @inventory.InventoryName
                </li>
            }
        </ul>
    </div>
}

@code {
    private List<Inventory> _inventories = new();

    [Parameter]
    public EventCallback<Inventory> InventoryClickEventCallback { get; set; }

    private async Task SearchEventCallbackHandler(string inventorySearch)
    {
        this._inventories = (await ViewInventoriesByNameService.ExecuteAsync(inventorySearch)).ToList();
    }

    private async Task OnSelectInventory(Inventory inventory)
    {
        await InventoryClickEventCallback.InvokeAsync(inventory);
        _inventories.Clear();
    }
}
