@page "/editproduct/{id:int}"

@inject IGetProductByIdService GetProductByIdService

<h3>EditProduct</h3>

<AddEditProductItemComponent productPopulated="@productPopulated"
                              operation="@operation" />

@code {
    [Parameter]
    public int id { get; set; }

    public string operation = "edit";
    public Product? productPopulated { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        productPopulated = await GetProductByIdService.ExecuteAsync(id);
    }
}