@page "/products"

@inject NavigationManager NavigationManager

<h1>Product List</h1>
<br />

<SearchProductListComponent SearchProductsCallback=@SearchProductsCallbackHandler />

<ProductListComponent searchTerm="@searchTerm" />

<button type="button"
        class="btn btn-primary"
        @onclick="addHandler">Add Product</button>

@code {
    public string searchTerm { get; set; } = String.Empty;

    public void SearchProductsCallbackHandler(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }
    private void addHandler()
    {
        NavigationManager.NavigateTo("addproduct");
    }
}