<InventoryDropdownComponent ClickEventCallback="ClickEventCallbackHandler" />

@if (ProductWithEmptyList.ProductInventories != null 
     && ProductWithEmptyList.ProductInventories.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Inventory Name</th>
                <th>Quantiy</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodInv in ProductWithEmptyList.ProductInventories)
            {
                <tr>
                    <td>
                        @prodInv.Inventory?.InventoryName
                    </td>

                    <td>
                        <input type="number"
                               min="1"
                               @bind-value=prodInv.InventoryQuantity />
                    </td>

                    <td>
                        <button type="button"
                                class="btn btn-link"
                                @onclick=@( () => RemoveProductInventory(prodInv) )>
                                Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public Product ProductWithEmptyList { get; set; } = new();

    private void ClickEventCallbackHandler(Inventory inventory)
    {
        ProductWithEmptyList.AddProductInventory(inventory);
    }

    private void RemoveProductInventory(ProductInventory productInventory)
    {
        ProductWithEmptyList.ProductInventories.Remove(productInventory);
    }
}
