@if (operation.Equals("add"))
{
    <InventoryDropdownComponent InventoryClickEventCallback="InventoryClickEventCallbackHandler" />
}

@if (ProductInventoriesPopulated.ProductInventories != null &&
     ProductInventoriesPopulated.ProductInventories.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Inventory Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodInv in ProductInventoriesPopulated.ProductInventories)
            {
                <tr>
                    <td>
                        @prodInv.Inventory?.InventoryName
                    </td>

                    <td>
                        <input type="number"
                               min="0"
                               @bind-value=prodInv.InventoryQuantity />
                    </td>

                    <td>
                        <button type="button"
                                class="btn btn-link"
                                @onclick=@( () => RemoveProductInventory(prodInv) )>
                                Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public string operation { get; set; } = String.Empty;

    [Parameter]
    public Product ProductInventoriesPopulated { get; set; } = new();

    private void InventoryClickEventCallbackHandler(Inventory inventory)
    {
        ProductInventoriesPopulated.AddProductInventory(inventory);
    }

    private void RemoveProductInventory(ProductInventory productInventory)
    {
        ProductInventoriesPopulated.ProductInventories.Remove(productInventory);
    }
}
