<InventoryDropdownComponent ClickEventCallback="ClickEventCallbackHandler" />

@if (ProductInventories.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Inventory Name</th>
                <th>Quantiy</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodInv in ProductInventories)
            {
                <tr>
                    <td>
                        @prodInv.Inventory?.InventoryName
                    </td>

                    <td>
                        <input type="number"
                               min="1"
                               @bind-value=prodInv.InventoryQuantity />
                    </td>

                    <td>
                        <button type="button"
                                class="btn btn-link"
                                @onclick=@( () => RemoveProductInventory(prodInv) )>
                                Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public List<ProductInventory> ProductInventories { get; set; } = new();

    private void ClickEventCallbackHandler(Inventory inventory)
    {
        if (!ProductInventories.Any(prodInv => 
            prodInv.Inventory != null && 
            prodInv.Inventory.InventoryName.Equals(inventory.InventoryName)))
        {
            ProductInventories.Add(new ProductInventory
                {
                    InventoryId = inventory.InventoryId,
                    Inventory = inventory,
                    InventoryQuantity = 1
                });
        }
    }

    private void RemoveProductInventory(ProductInventory productInventory)
    {
        this.ProductInventories.Remove(productInventory);
    }
}
